#employer-name {
    position: relative;
    display: inline-block;
}
#employer-name .dropdown {
    position: absolute;
    background: white;
    width: 100%;
    outline:1px solid #ddd;
}
#employer-name .dropdown button {
    display: block;
    padding: 0;
    width: 100%;
    background: none;
    border: none; 
    cursor: pointer;
    text-align: left;
}
#employer-name .dropdown button:hover {
    background-color: #ddd;
}
